.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game {
  color: aqua;
  font-weight: bold;
}
.world {
  color: orange;
  font-weight: bold;
}
.me-auto{
  align-items: center;
}
.carousel{
  margin-top: 1%;
  margin-bottom: 2%;
  
}
.car{
  display: flex;

}

.image {
  width: 500px;
  height: 600px;
}
.cc h3 {
  color: white;
  font-weight: bold;

}
.cc p{
  color:white;
  font-weight: normal;
}
.item1{
  background-image: url(../public/Playstation-5-console-image.png);
  background-position: center;
  background-size: cover;
}
.item2{
  background-image: url(../public/EGS_EASPORTSFIFA23UltimateEdition_EACanada_Editions_S2_1200x1600-818a94c682b55e8c54f4e3d837782ff9.jpg);
  background-position: center;
  background-size: contain;
}
.item3{
  background-image: url(../public/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  
  }

.cards{
  display: flex;
  justify-content: space-around;
}
.caption{
  display: flex;
  justify-content: flex-end;
}
.img{
  width: 280px;
  height: 150px;
  padding-left: 10%;
  padding-top: 2%;
  margin-bottom: 32%;
}


.form{
  margin-top: 5%;
  width: 50%;
  margin-left: 30%;
}
.foot{
  background:#1a2e55;
  margin-top: 2%;
}
.foot img{
  width:70px;
  height: 70px;
}
.foot p{
  color: white;
  font-size: 20px;
}